body
{background-color: lavender;
color:lightpink;}
 
.heading
{
    width:80%;
    font-size: 22px;

}
#webcam_display
{width:350px;
height:300px;
border:2px solid powderblue ;}

.name_of_objects
{color:lightcoral;}
 
.mybutton
{background-color:tan;}